<div class="bg-dark">
  <div class="my-5 container">
    {{!-- <div class="row my-1">
      <div class="col-6">
        <div class="d-flex flex-column">
          <a href="#" class="text-light">Log in</a>
          <a href="#" class="text-light">Sign up</a>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">

        </div>
      </div>
    </div> --}}
    <p class="text-light">© Abaca, Chavez, Enriquez – CCAPDEV S15</p>
  </div>
</div>