<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/clean-blog.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/483b59b551.js" crossorigin="anonymous"></script>
    
    <title>{{title}}</title>
  </head>
  <body>

    {{> header }}

    <div class="mb-2"></div>

    <div class="d-flex pt-5" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <!-- <div class="sidebar-heading">Start Bootstrap</div> -->
        <div class="list-group list-group-flush p-3">
          {{#if profile}}
          <a href="/dashboard" class="list-group-item list-group-item-action bg-primary rounded text-light">Profile</a>
          {{/if}}
          {{#unless profile}}
          <a href="/dashboard" class="list-group-item list-group-item-action bg-light rounded">Profile</a>
          {{/unless}}

          {{#if edit}}
          <a href="/dashboard/editaccount" class="list-group-item list-group-item-action bg-primary rounded text-light">Edit Account Details</a>
          {{/if}}
          {{#unless edit}}
          <a href="/dashboard/editaccount" class="list-group-item list-group-item-action bg-light rounded">Edit Account Details</a>
          {{/unless}}

          {{#if manage}}
          <a href="/dashboard/manageposts" class="list-group-item list-group-item-action bg-primary rounded text-light">Manage Posts</a>
          {{/if}}
          {{#unless manage}}
          <a href="/dashboard/manageposts" class="list-group-item list-group-item-action bg-light rounded">Manage Posts</a>
          {{/unless}}

          <a href="/logout" class="list-group-item list-group-item-action bg-light rounded">Sign out</a>
          <button id="delete-item" class="list-group-item list-group-item-action bg-light rounded">Delete account</button>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      
      <div id="page-content-wrapper" class="pt-5">

        <div class="d-md-none w-100 bg-light p-2 mb-3">
          <button class="btn btn-primary" id="menu-toggle">
            Toggle Menu
          </button>
        </div>

        {{{ body }}}

      </div>
      <!-- /#page-content-wrapper -->

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/javascripts/dashboard.js"></script>
  </body>
</html>
