.form-container {
  min-width: 350px;
  padding: 2rem;
  text-align: center;
  /* box-shadow: 5px 10px #888888; */
  font-size: 1rem;
  line-height: 1;
}

.form-container p, .form-container a, .form-container li, .form-container h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.login {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/formbg.jpg');
  /* background-image: url('./assets/background.jpg'); */
  background-position: center;
  background-size: cover;
  /* background- */
}

