<div class="container mt-5">
  <h1 class="text-uppercase text-center">About this web app</h1>
  <hr>
  <h3>Frontend Libraries</h3>
  <div class="d-flex flex-column">
    <div class="bg-light rounded p-3 my-3">
      <h4>jQuery</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>Bootstrap</h4>
    </div>
  </div>
  <hr>
  <h3>Node Packages</h3>
  <div class="d-flex flex-column">
    <div class="bg-light rounded p-3 my-3">
      <h4>bcrypt</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>connect-mongo</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>dotenv</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>express</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>express-handlebars</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>express-session</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>http-errors</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>mongoose</h4>
    </div>

    <div class="bg-light rounded p-3 my-3">
      <h4>nodemon</h4>
    </div>
  </div>
</div>